@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    background-color: #F2EAE2;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: white;
    width: 600px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}

.content h1 {
    font-family: "Fraunces", serif;
}

.perfume-picture {
    width: 50%;
    border-radius: 10px 0px 0px 10px;
}

.content {
    width: 50%;
    padding: 32px;
}

.content p {
    font-family: "Montserrat", sans-serif;
}

.description {
    font-size: 14px;
}

.price-cart {
    display: flex;
    align-items: center;
}

.price-cart h1 {
    font-family: "Fraunces", serif;
}


.new-price-product {
    color: #3D8168;
    margin-right: 16px;
}

.price-product {
    text-decoration: line-through;
}

.add-card {
    background-color: #3D8168;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-weight: 700;
    transition: 0.4s;
}

.add-card:hover {
    background-color: #1A4032;
    cursor: pointer;
}



